/.metadata/
ProyectoTDP/.gitignore
ProyectoTDP/.classpath
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdt
.gitignore
ProyectoTDP/src/enemigo/IA_Kamikaze.java
ProyectoTDP/src/enemigo/IA_Armado.java
ProyectoTDP/.project
ProyectoTDP/src/enemigo/Inteligencia.java
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/write.lock
.recommenders/caches/manual-mappings.json
.recommenders/caches/identified-project-coordinates.json
